<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mybatisboot.dao.StudentDao" >
    <select id="select" resultType="com.example.mybatisboot.entity.Student">
        select
          std_name as studentName,
          std_age as studentAge
        from student
        where id=#{id}
    </select>
</mapper>